@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Developer"]</p>
<address>
    <strong>
        Mais informações <a href="#">My Developer Site</a>
    </strong>
</address>
